on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

name: Main workflow

jobs:
  install:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Caching node_modules
        uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Setting yarn version
        run: yarn policies set-version 1.22.17

      - name: Install dependencies
        run: yarn install --prefer-offline

      - name: Linter
        run: yarn lint

      - name: Prisma
        run: yarn prisma-merge && yarn prisma generate

      - name: type-check
        run: yarn type-check

      - name: Tests
        run: yarn test-ci

      - name: Generating coverage badges
        uses: jpb06/jest-badges-action@v1.9.1

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
